/* 0-0-1-1 */
li:first-child {
    color: red;
}

li:nth-child(3) {
    color: orange;
}

li:last-child {
    color: green;
}

li:nth-child(odd){
    color: magenta;
}

li:nth-child(even){
    color: lightblue;
}