<!DOCTYPE html>
<html>
  <body>
    <div id="menu">
      <button id=raw onclick="location.href='raw/<%=key%>'">raw</button>
      <button id=home onclick="location.href='/'">home</button>
    </div>
    <div class='scrollable'>
      <pre>
        <code id=view><%=paste%></code>      
      </pre>
    </div>
  </body>  
</html>